.card {
	display: flex;
	flex-direction: column;
	background-color: blue;
	border-radius: 2em;
	height: 40em;
	width: 30em;
	background: url("https://images.hdqwalls.com/download/spiderman-into-the-spider-verse-2018-movie-ey-2560x1440.jpg")
		no-repeat center/cover;
	box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.3);
	transition: 0.5s;
	overflow: hidden;
}
