.body {
	font-family: "Open Sans", sans-serif;
	height: 90vh;
	display: grid;
	justify-content: center;
	align-content: center;
}
.layout {
	display: flex;
	flex-direction: column;
	transform: translateY(100%);
	transition: 1s;
}

.card:hover .layout {
	transition: 1s;
	transform: translateY(30%);
}

.content {
	opacity: 0;
	transition: 0s;
	z-index: 99;
}

.card:hover .layout .content {
	opacity: 1;
	transition: 1s;
}

.desc {
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
}
.title {
	font-size: 28px;
	padding-left: 20px;
	padding-right: 20px;
}