.body {
	font-family: 'Open Sans', sans-serif;
	height: 90vh;
	display: grid;
	justify-content: center;
	align-content: center;
}

.content {
	display: flex;
	flex-direction: column-reverse;
	height: 100%;
	opacity: 0;
	transition: 1s;
	z-index: 99;
}

.content:hover {
	transition: 1s;
	opacity: 1;
}
.title {
	font-size: x-large;
	
}
.desc {
	padding-left: 1em;
	padding-right: 1em;
	color: white;
}
